In [1]:
a = 10

In [2]:
print a

10

## List

In [3]:
l = []

In [4]:
type(l)

list

In [5]:
l.append(1)

In [6]:
l

[1]

In [7]:
l.append(2)

In [8]:
l

[1, 2]

In [9]:
l2 = [3,4]

In [10]:
l.extend(l2)

In [11]:
l

[1, 2, 3, 4]

In [13]:
l.append(1)

In [14]:
l

[1, 2, 3, 4, 1]

In [15]:
l[0] = 10

In [16]:
l

[10, 2, 3, 4, 1]

## tuple

In [17]:
t = (1,2,3,1,2,3)

In [18]:
t

(1, 2, 3, 1, 2, 3)

In [19]:
t[0]

1

In [ ]:
t[0] = 10

## String

In [21]:
s = 'hello string'

In [22]:
s[1]

'e'

In [23]:
s[0]

'h'

In [24]:
s2 = "hello string2"

In [25]:
s2[6]

's'

In [26]:
s2[0] = 'a'

TypeError: 'str' object does not support item assignment

## set

s = {1,2,3,1,1,2,3}

In [28]:
s

{1, 2, 3}

In [29]:
s[1]

TypeError: 'set' object does not support indexing

## Dict

In [30]:
d = {"name":"Md","age":29}

In [31]:
type(d)

dict

In [32]:
d['name']

'Md'

In [33]:
d['age']

29

## if condition

In [34]:
a = 10

In [35]:
if a > 5:
    print "yes"

yes

In [36]:
a > 5

True

In [37]:
if a < 1 :
    print "yes"

In [38]:
a < 1

False

## if else condtion

In [39]:
a

10

In [42]:
if a < 5 :
    print "a < 5 is true"
else:
    print "a < 5 is false"

a < 5 is false

In [43]:
a = 1

In [44]:
if a < 5 :
    print "a < 5 is true"
else:
    print "a < 5 is false"

a < 5 is true

In [45]:
a < 5

True

## if-elif -else condition

In [46]:
a = 0

In [47]:
if a > 0:
    print "a > 0"
elif a < 0:
    print "a < 0"
else:
    print"its zero"

its zero

In [48]:
a = 1

In [52]:
if a > 0:
    print "a > 0"
elif a < 0:
    print "a < 0"
else:
    print"its zero"

a > 0

## for loop

In [59]:
l = range(10)

In [60]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
range(3, 6)

[3, 4, 5]

In [64]:
range(1,20,3)

[1, 4, 7, 10, 13, 16, 19]

In [65]:
range(2,10)

[2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
range(2,10,3)

[2, 5, 8]

In [67]:
l1 = range(10)

In [68]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
for i in l1:
    print i

0
1
2
3
4
5
6
7
8
9

In [70]:
for i in l1:
    print i+i

0
2
4
6
8
10
12
14
16
18

In [71]:
for i in l1:
    print i+1

1
2
3
4
5
6
7
8
9
10

In [72]:
s = "hello"

In [73]:
for i in s:
    print i

h
e
l
l
o

## while loop

In [74]:
sum = 0

In [75]:
# To take input from the user,
# n = int(input("Enter n: "))
n = 10
# initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1    # update counter
# print the sum
print("The sum is", sum)

('The sum is', 55)

In [86]:
n = 5

In [87]:
sum = 0

In [88]:
i = 1

In [89]:
while i <= n:
    sum = sum + i
    print "sum is ",sum
    print "i value before increment",i
    i = i + 1
    print "i value is after increment",i

sum is  1
i value before increment 1
i value is after increment 2
sum is  3
i value before increment 2
i value is after increment 3
sum is  6
i value before increment 3
i value is after increment 4
sum is  10
i value before increment 4
i value is after increment 5
sum is  15
i value before increment 5
i value is after increment 6

In [90]:
while True:
   num = int(input("Enter an integer: "))
   print("The double of",num,"is",2 * num)

Enter an integer: 1
('The double of', 1, 'is', 2)
Enter an integer: 2
('The double of', 2, 'is', 4)
Enter an integer: 3
('The double of', 3, 'is', 6)
Enter an integer: 'heee'

ValueError: invalid literal for int() with base 10: 'heee'

In [1]:
while True:
   num = int(input("Enter an integer: "))
   print("The double of",num,"is",2 * num)

Enter an integer: 'abc'

ValueError: invalid literal for int() with base 10: 'abc'

## Methods

In [5]:
def add (a,b):
    c = a + b
    return c

In [7]:
result = add(10,20)

In [8]:
print result

30

In [9]:
def mult(a,b):
    return a * b

In [10]:
mutl_result = mult(10,10)

In [11]:
mutl_result

100

In [12]:
mult(10)

TypeError: mult() takes exactly 2 arguments (1 given)

## classes

In [16]:
class my_class:
    def add(self,a,b):
        return a+b
    def say_hello(self):
        print "hello"

In [17]:
o = my_class()

In [18]:
o.add(10,20)

30

In [19]:
o.say_hello()

hello

In [20]:
o2  = my_class()

In [21]:
o2.add(30,20)

50

In [46]:
class my_class2:
    def __init__(self):
        print "__init__ called"
    
    def mult1(self,a,b):
        print "mult called"

In [47]:
o3 = my_class2()

__init__ called

In [48]:
o3.mult1(1,2)

mult called

Taks
1)
l3 = [1,2,3,4,5]
l4 = [2,3,9,8,10]
result1 = [3,5,12,...]
result2 = [11,10,12,,,,

*Ask user to provide input list(put check)
*two list shoul have same len

2)Create a class which does add,sub,mult,div
*Ask user to provide input 

* ask user to provide what operation he wants to do
input1
10 20 30
add
10 20 30 =  60
input2
10 20
sub
10 - 20 = -10