### Hello world message

In [11]:
print('Hello world !!')

Hello world !!

### 1.Variables

In [3]:
a = 10

In [4]:
type(a)

int

In [13]:
print(a)

10

In [5]:
b = 20.5

In [6]:
type(b)

float

In [14]:
print(b)

20.5

In [7]:
c = True

In [8]:
type(c)

bool

In [15]:
print(c)

True

In [18]:
d = "My string"

In [16]:
type(d)

str

In [19]:
print(d)

My string

### 2.Data structures

### list

In [25]:
#list
list1 = [1,2,3,1,2,5]

In [26]:
type(list1)

list

In [27]:
print(list1)

[1, 2, 3, 1, 2, 5]

In [29]:
list1.append(6)

In [30]:
list1

[1, 2, 3, 1, 2, 5, 6]

In [31]:
list2 = [7, 8, 9]

In [32]:
list1.extend(list2)

In [33]:
list1

[1, 2, 3, 1, 2, 5, 6, 7, 8, 9]

In [36]:
len(list1)

10

In [37]:
min(list1)

1

In [38]:
max(list1)

9

In [40]:
list1[0]

1

In [48]:
list1[4]

2

In [49]:
list1[-1]

9

In [52]:
list1[2:4]

[3, 1]

In [53]:
list1[:5]

[1, 2, 3, 1, 2]

In [56]:
list1[6:]

[6, 7, 8, 9]

In [57]:
list1[0] = 10

In [58]:
list1

[10, 2, 3, 1, 2, 5, 6, 7, 8, 9]

In [59]:
list3 = range(10)

In [60]:
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list4 = range(2,20,2)

In [64]:
list4

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [66]:
list5 = range(1,30,3)

In [68]:
list5

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [69]:
list1.extend(list5)

In [70]:
list1

[10, 2, 3, 1, 2, 5, 6, 7, 8, 9, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [76]:
sum(list1)

198

### tuple

In [71]:
t1 = (1,2,3,4,5,6,7,8,9,1,2,3,4,5)

In [72]:
type(t1)

tuple

In [73]:
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

In [75]:
#tuple cant be changed i,e its is immutable
t1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [77]:
len(t1)

14

In [78]:
t1[1]

2

In [80]:
t1[-1]

5

In [82]:
t1[2:7]

(3, 4, 5, 6, 7)

In [83]:
t1[5:]

(6, 7, 8, 9, 1, 2, 3, 4, 5)

In [84]:
t1[:6]

(1, 2, 3, 4, 5, 6)

In [86]:
#tuple cant be changed i,e its is immutable
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

### Set

In [87]:
s = {1,2,3,4,1,2,3}

In [88]:
type(s)

set

In [89]:
print(s)

set([1, 2, 3, 4])

In [91]:
s.update({10})

In [92]:
s

{1, 2, 3, 4, 10}

In [94]:
#Set cant be accessed with index
s[1]

TypeError: 'set' object does not support indexing

In [95]:
len(s)

5

In [96]:
min(s)

1

### dictionary

In [97]:
dict1 = {"name":"Muhammad", "age" :29, "Prog_languages":['python','scala','java']}

In [104]:
type(dict1)

dict

In [98]:
dict1['name']

'Muhammad'

In [100]:
dict1['Prog_languages']

'scala'

In [101]:
dict1['Prog_languages'][2]

'java'

In [102]:
dict1.update({"country" : "India"})

In [103]:
dict1

{'Prog_languages': ['python', 'scala', 'java'],
 'age': 29,
 'country': 'India',
 'name': 'Muhammad'}

### String

In [120]:
s1 = 'Hello string 1'

In [121]:
type(s1)

str

In [122]:
print(s1)

Hello string 1

In [123]:
s2 = "Hello string 2"

In [124]:
type(s2)

str

In [125]:
print(s2)

Hello string 2

In [126]:
s2[0]

'H'

In [127]:
s2[8]

'r'

In [128]:
s2[-1]

'2'

In [129]:
len(s2)

14

In [131]:
s2_lower = s2.lower()

In [132]:
s2_lower

'hello string 2'

In [134]:
s2.split(" ")

['Hello', 'string', '2']

### 3.Flow controls
### if Statement

In [1]:
n = 10

In [2]:
n > 20

False

In [4]:
n < 11

True

In [7]:
if n > 5:
    print("if condition is true this block will be printed")

if condition is true this will be printed

In [8]:
if n > 11:
    print("if condition is false this will block not be printed ")

### if else Statement

In [10]:
if n > 3:
    print("If condition is true then this block will be executed")
else:
    print("If condition is false then  this block will be executed")

If condition is true then this block will be executed

In [12]:
if n > 20:
    print("If condition is true then this block will be executed")
else:
    print("If condition is false then this block will be executed")

If condition is false then this block will be executed

### if...elif...else

In [14]:
num = 3.4

In [15]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [16]:
num = 0

In [17]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [18]:
num = -1

In [19]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

In [20]:
num = float(input("Enter a number: "))

Enter a number: 10

In [21]:
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

### for loop

In [24]:
l = range(20)

In [25]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [27]:
for i in l:
    print(i+i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [28]:
sum = 0

In [31]:
for val in l:
    sum = sum+val

In [32]:
sum

190

In [33]:
programming_languages = ['Python', 'Scala', 'Java']

In [36]:
for p_language in range(len(programming_languages)):
    print("I like {}".format(programming_languages[p_language]))

I like Python
I like Scala
I like Java