### 1.Functions

In [2]:
def my_function():
    print("This is my function")

In [3]:
my_function()

This is my function

In [4]:
def add(a, b):
    return a+b

In [5]:
add(20,30)

50

In [10]:
def mult(a, b, c):
    return a*b*c

In [9]:
mult(20,30,40)

24000

In [11]:
def give_possitive_num(n):
    if n >= 0:
        return n
    else:
        return -n

In [12]:
give_possitive_num(10)

10

In [14]:
give_possitive_num(-40)

40

### lambda Function

In [15]:
d = lambda x: x * 2

In [16]:
d(4)

8

In [17]:
# above function same as below function
def double(x):
    return x * 2

In [18]:
double(4)

8

### filter() function

In [47]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

In [23]:
new_list = filter(lambda x: x%2 == 0 , my_list)

In [24]:
print(new_list)

[4, 6, 8, 12]

In [46]:
def even_num(x):
    return x%2 == 0

In [48]:
even_num_list = filter(even_num , my_list)

In [49]:
even_num_list

[4, 6, 8, 12]

### map() function

In [27]:
new_list2 = map(lambda x: x * 2 , my_list)

In [28]:
print(new_list2)

[2, 10, 8, 12, 16, 22, 6, 24]

In [29]:
new_list3 = map(double , my_list)

In [30]:
new_list3

[2, 10, 8, 12, 16, 22, 6, 24]

### reduce function

In [40]:
product1 = 1
list = [1, 2, 3, 4]
for num in list:
    product1 = product1 * num

In [41]:
product1

24

In [53]:
product2 = reduce((lambda x, y: x * y), [1, 2, 3, 4])
product2

24

In [43]:
def mult(x, y):
    return x * y

In [44]:
product3 = reduce(mult,[1, 2, 3, 4])

In [45]:
product3

24

### 2.Files

In [1]:
#Creating a new file from program
f = open('my_file.txt','w')
f.write('my file')
f.close()
#'my_file.txt' will be there in your working dir

In [15]:
# Open an already existing file
f2 = open("data/python_wiki.txt","r")

In [16]:
# Read the entire context
print(f2.read())

Python is a widely used high-level programming language for general-purpose programming.
created by Guido van Rossum and first released in 1991.
Python features a dynamic type system and automatic memory management and
supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It has a large and comprehensive standard library.

In [19]:
f2 = open("data/python_wiki.txt","r")

In [20]:
#readline() reads only one line
print(f2.readline())

Python is a widely used high-level programming language for general-purpose programming.

In [21]:
print(f2.readline())

created by Guido van Rossum and first released in 1991.

In [22]:
print(f2.readline())

Python features a dynamic type system and automatic memory management and

In [24]:
#Read and append to list
f = open("data/python_wiki.txt","r")
myList = []

for line in f:
  myList.append(line)

print(myList)

['Python is a widely used high-level programming language for general-purpose programming.\n', 'created by Guido van Rossum and first released in 1991.\n', 'Python features a dynamic type system and automatic memory management and\n', 'supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It has a large and comprehensive standard library.\n', '\n']

### 3.Exception Handling

In [28]:
#without exception handling
n = int(raw_input("Please enter a number: "))
#Please enter a number: 23.5

Please enter a number: 23.5

ValueError: invalid literal for int() with base 10: '23.5'

In [29]:
#exception handling
while True:
    try:
        n = raw_input("Please enter an integer: ")
        n = int(n)
        break
    except ValueError:
        print("No valid integer! Please try again ...")
print "Great, you successfully entered an integer!"
#Please enter a number: 23.5
#Please enter a number: 23

Please enter an integer: 23.5
No valid integer! Please try again ...
Please enter an integer: 23
Great, you successfully entered an integer!

In [36]:
#without exception handling
fh = open("testfile", "r")
fh.write("This is my test file for exception handling!!")
fh.close()

IOError: File not open for writing

In [34]:
try:
    fh = open("testfile", "r")
    fh.write("This is my test file for exception handling!!")
except IOError:
    print "Error: can\'t find file or read data"
else:
    print "Written content in the file successfully"

Error: can't find file or read data

In [35]:
try:
    fh = open("testfile", "w")
    fh.write("This is my test file for exception handling!!")
except IOError:
    print "Error: can\'t find file or read data"
else:
    print "Written content in the file successfully"
    fh.close()

Written content in the file successfully

In [31]:
try:
    fh = open("testfile", "w")
    #fh = open("testfile", "r")
    try:
        fh.write("This is my test file for exception handling!!")
    finally:
        print "Going to close the file"
        fh.close()
except IOError:
    print "Error: can\'t find file or read data"

Going to close the file
Error: can't find file or read data

### 4.Classes and Objects

In [46]:
# Create a class
class my_class:
    my_variable = "This is my variable"
    def my_function(self):
        print("This is my function")

In [47]:
#Create a object
obj1 = my_class()

In [48]:
#Access properties of class
obj1.my_variable

'This is my variable'

In [49]:
obj1.my_function()

This is my function

In [50]:
obj2 = my_class()
obj2.my_variable = "this is my another variable "
print(obj2.my_variable)

this is my another variable

In [51]:
obj2.my_function()

This is my function

In [52]:
class vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

In [53]:
car1 = vehicle()
car1.name = 'Fer'
car1.color= 'red'
car1.value = 60000

print(car1.description())

Fer is a red car worth $60000.00.

In [54]:
car2 = vehicle()
car1.name = 'blue'
car1.color= 'red'
car1.value = 100000

print(car2.description())

 is a  car worth $100.00.

In [57]:
class arithmetic_operations:
    def __init__(self):
        print "constructor got called"
    def add(self,a,b):
        return a+b
    def sub(self,a,b):
        return a-b

In [56]:
ob1 = arithmetic_operations()

__init__ got called

In [58]:
ob1.add(10,20)

30

In [59]:
ob1.sub(20,40)

-20

In [71]:
#Inheritance
class Parent:        
    parentAttr = 100
    def __init__(self):
        print "Calling parent constructor"
    
    def parentMethod(self):
        print 'Calling parent method'
    
    def setAttr(self, attr):
        Parent.parentAttr = attr
    
    def getAttr(self):
        print "Parent attribute :", Parent.parentAttr

class Child(Parent): 
    def __init__(self):
        print "Calling child constructor"
    
    def childMethod(self):
        print 'Calling child method'

In [72]:
p = Parent()
p.parentMethod()
c = Child()          
c.childMethod()     
c.parentMethod()    
c.setAttr(200)      
c.getAttr()

Calling parent constructor
Calling parent method
Calling child constructor
Calling child method
Calling parent method
Parent attribute : 200

### 5.Arguments Parser

In [ ]:
#save below code arguments_parser01.py
import sys

def main():
    # print command line arguments
    for arg in sys.argv[1:]:
        print arg

if __name__ == "__main__":
    main()
#run above code using below command   
#python arguments_parser01.py a b c d

In [ ]:
#save below code arguments_parser02.py
import sys
def add(a,b):
    print int(a)+int (b)
    
def main(args):
    add(args[0],args[1])

if __name__ == "__main__":
    args = sys.argv[1:]
    if len (args) < 2 :
        print "Less than 2 args"
        sys.exit (1)
    main(args)

#run above code using below command   
#python arguments_parser02.py 10 20

### 6.Modules

In [62]:
#save below code in arithmetic_operations.py file

def add(a,b):
    print "called adding"
    return a+b

def sub(a,b):
    print "called sub"
    return a-b
def mult(a,b):
    print"mult called"
    return a*b

In [68]:
#arithmetic_operations.py 
import arithmetic_operations as ar

In [64]:
add_result = ar.add(10,29)

called adding

In [65]:
add_result

39

In [66]:
sub_result = ar.sub(40,30)

called sub

In [67]:
sub_result

10

### 7.List Comprehension

In [91]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [92]:
my_list = []

In [93]:
for n in nums:
    my_list.append(n)

In [94]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
print [n for n in nums]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
my_list_mult = []

In [98]:
for n in nums:
    my_list_mult.append(n*n)

In [99]:
my_list_mult

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [100]:
my_list_mult_map = map(lambda n: n*n, nums)

In [101]:
my_list_mult_map

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
print [n*n for n in nums]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [105]:
even_list = []

In [106]:
for n in nums:
    if n%2 == 0:
        even_list.append(n)

In [107]:
even_list

[2, 4, 6, 8, 10]

In [108]:
my_even_list_filter = filter(lambda n: n%2 == 0, nums)

In [109]:
my_even_list_filter

[2, 4, 6, 8, 10]

In [110]:
my_even_list_l_c = [x for x in nums if x % 2 == 0]

In [111]:
my_even_list_l_c

[2, 4, 6, 8, 10]

In [113]:
s = [x**2 for x in range(10)]

In [114]:
s

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [115]:
v = [2**i for i in range(13)]

In [116]:
v

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [117]:
m = [x for x in s if x % 2 == 0]

In [118]:
m

[0, 4, 16, 36, 64]

### 8.Generators

In [121]:
my_nums_l_c = [x*x for x in [1,2,3,4,5]]

In [122]:
my_nums_l_c

[1, 4, 9, 16, 25]

In [123]:
def square_numbers_yield(nums):
    for i in nums:
        yield (i*i)

In [124]:
my_nums_yield = square_numbers_yield([1,2,3,4,5])

In [125]:
my_nums_yield

In [126]:
next(my_nums_yield)

1

In [128]:
next(my_nums_yield)

4

In [129]:
for i in my_nums_yield:
    print i

9
16
25

In [130]:
my_nums_yield_c = (x*x for x in [1,2,3,4,5])

In [131]:
my_nums_yield_c

In [132]:
for i in my_nums_yield_c:
    print i

1
4
9
16
25

### 9.Named Tuples

In [133]:
from collections import namedtuple

In [134]:
Color = namedtuple('Color', ['red', 'green', 'blue'])

In [135]:
color = Color(blue=55,green=155,red=255)

In [136]:
color.blue

55

In [137]:
color.green

155